body {
  font-weight: 500;
}
.blue {
  color: #5e84db;
}
.bg-lighter {
  background-color: #f0f2f5;
}

label {
  width: 100%;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 15px 13px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #39418b;
}

.invert {
  filter: invert(1);
}
.w-sidebar-toggle {
  width: 80px;
  z-index: 1;
  /* height: 100vh; */
  overflow-x: visible;
}
.br-8 {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}
.br-15 {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.border-primary {
  border-color: #262e80 !important;
}
.bg-blue {
  background-color: #5e84db;
}
.d-blue {
  color: #262e80;
}
.bg-d-blue {
  background-color: #262e80;
}
.purple {
  color: #9694ff;
}
.bg-purple {
  background-color: #9694ff;
}
.pink {
  color: #ef6092;
}
.bg-pink {
  background-color: #ef6092;
}
.green {
  color: #5ac35a;
}
.bg-green {
  background-color: #5ac35a;
}
.d-green {
  color: #228b22;
}
.bg-d-green {
  background-color: #228b22;
}
.bg-trans {
  background: transparent !important;
}
.lh-1 {
  line-height: 1 !important;
}
.ant-layout-content {
  padding: 1.6% !important;
}
.yellow {
  color: yellow;
}
.ant-input-group-addon,
.ant-input-affix-wrapper,
button {
  border: 0 !important;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: none !important;
}
.w-fit {
  width: fit-content;
}
.shade {
  box-shadow: 1px 1px 10px 4px #00000036 !important;
}
.ant-table-wrapper {
  overflow: auto;
}
.w-fit {
  width: fit-content;
}
table {
  table-layout: auto;
  overflow-x: scroll;
}
.ant-table-thead > tr > th {
  color: #262e80 !important;
  font-weight: bold !important;
}
.ant-table-tbody > tr > td {
  font-weight: 500 !important;
}
.ant-table-tbody > tr > td:nth-child(2) {
  color: #262e80 !important;
}
.ant-table-tbody > tr > td:nth-child(2) {
  color: #262e80 !important;
}
.w-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 462px;
}

.ant-table-tbody > tr > td:nth-child(7) {
  color: rgb(101, 173, 101) !important;
}
.ant-table-tbody > tr > td:nth-child(3),
.ant-table-tbody > tr > td:nth-child(5),
.ant-table-tbody > tr > td:nth-child(6),
.ant-table-tbody > tr > td:nth-child(8),
.ant-table-tbody > tr > td:nth-child(9),
.ant-table-tbody > tr > td:nth-child(10) {
  color: #262e80 !important;
}
/* .ant-table-tbody > tr > td:nth-child(4) {
  text-decoration: underline;
} */
.drop-down {
  width: 23vw;
}
@media (max-width: 600px) {
  .drop-down {
    width: 60vw;
  }
  .border-right {
    border: none !important;
  }
  .ant-layout-content {
    padding: 10px !important;
  }
}
